.btn {
    border: 0;
    border-radius: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 14px;
  border-radius: 15px;
}

.btn-cart {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    line-height: 27px;
    color: white;
    background-color: #ED1C24;
    &:hover {
        color: darken(white, 2%);
        background-color: darken(#ED1C24, 15%);
    }
}


.btn-secondary-nav {
    font-size: 1.6em;
    padding: 0 16px;
    border-right: 5px solid black;
    color: white;
    transform-origin: bottom left;
    @include linear-gradient(to left, $nav-bg, $nav-bg-to);
    @include transform(skewX(-25deg));
    &:hover {
        color: darken(white, 5);
        opacity: 0.9;
    }
    span {
        display: block;
        @include transform(skewX(25deg));
    }
}

.btn-primary-nav {
    font-size: 1.8em;
    padding: 0 16px;
    border-right: 3px solid black;
    color: white;
    transform-origin: bottom left;
    @include transform(skewX(-25deg));
    &:hover {
        color: darken(white, 8);
        @include linear-gradient(to right, $nav-bg, $nav-bg-to);
    }
    &:first-child {
        border-left: 3px solid black;
    }
    span {
        display: block;
        @include transform(skewX(25deg));
    }
}

.btn-social {
    font-size: 1.6em;
    padding: 0 16px;
    border-right: 5px solid black;
    color: white;
    transform-origin: bottom left;
    @include linear-gradient(to left, $nav-bg, $nav-bg-to);
    &:hover {
        color: darken(white, 5);
        opacity: 0.9;
    }
}

.btn-red {
    background-color: $brand-primary;
    height: 34px;
}

.btn-black {
    background-color: black;
    height: 34px;
}

.link-title {
    font-size: 1.6em;
    padding: 0 16px;
    border-right: 5px solid black;
    color: white;
    transform-origin: bottom left;
    @include linear-gradient(to left, $nav-bg, $nav-bg-to);
    &:hover {
        color: darken(white, 5);
        opacity: 0.9;
    }
}
