.card-group {
    max-width: 100%;
    text-align: center;
}

.card {
    position: relative;
    background-color: white;
    text-align: left;
    color: white;
    width: 261px;
    margin: 0 6px;
    display: inline-block;
    -webkit-box-shadow: -1px 2px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 21px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 21px -1px rgba(0,0,0,0.75);
    .card-content {
        overflow: hidden;
        color: white;
        background-color: black;
    }
    .card-title {
        display: inline-block;
        font-size: 13pt;
        margin: 7px 0 0 10px;
        a {
            color: white;
        }
    }
    .card-img {
        margin: 10px 10px 0 10px;
    }
}
