@font-face {
    font-family: 'Avenir LT Std 45 Book';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 45 Book'), url('../fonts/AvenirLTStd-Book.woff') format('woff');
}
body {
    font-family: "Avenir LT Std 45 Book", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: #1D1720;
}

h1, h2, h3 {
    font-family: "bebas-neue"
}

.site-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.bg-black {
    background: $black url("../images/black-texture.png") no-repeat left top;
}

.page-bg-black {
    background-size: cover;
    max-width: 1280px;
}
.text {
    font-family: "Avenir LT Std 45 Book", sans-serif;
}
input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea {
    background-color: #eee;
    color: black;
}
input[type="submit"] {
    color: white;
    background-color: $brand-primary;
    border: 1px solid black;
    width: 100px;
}
