// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #ED1C24;
$brand-secondary:       #A9ABAC;

$black:                 #2C2A30;
$nav-bg:                #A8272B;
$nav-bg-to:             #C62B2F;
