footer {
    .footer-top {
        width: 70%;
        height: 10px;
        background-image: radial-gradient(circle at 50% 50%, #C72B31, #64181E);
        margin-bottom: 10px;
    }
    color: white;
    h2 {
        span {
            color: $brand-primary;
        }
    }
    ul {
        font-family: "bebas-neue", sans-serif;
        padding-left: 20px;
        font-size: 16pt;
        li {
            line-height: 16pt;
            a {
                color: white;
            }
        }
    }
}
