.banner {
    font-family: "bebas-neue", sans-serif;
    background: $black url("../images/black-texture.png") no-repeat left top;
    background-size: cover;
    max-width: 1280px;
    .logo {
        display: block;
        margin: 5px auto 25px auto;
    }
    .primary-menu {
        text-align: center;
        background-image: radial-gradient(circle at 50% 50%, #C72B31, #64181E);
        -webkit-box-shadow: -1px 2px 21px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 21px -1px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 21px -1px rgba(0,0,0,0.75);
        .btn-group {
            margin: 0 auto;
        }
    }
}
