.blog--posts {
    .post {
        @include display(flex);
        @include justify-content(flex-start);
        @include flex-wrap(wrap);
    }
    .post--header {
        width: 100%;
    }
    .post--title {
        line-height: 10px;
    }
    .post--hr {
        margin: 0 0 7px 0;
        width: 120px;
        border-top: 4px solid #eee;
    }
    .post--figure {
        width: 290px;
        margin-bottom: 10px;
    }
    .post--featured-image {
        border: 4px solid white;
        margin-top: 4px;
    }
    .post--content {
        width: calc(100% - 290px);
    }
}

.blog--navigation {
    text-align: center;
    .page-numbers {
    	display: inline-block;
    	padding: 10px 12px;
        background-color: #eee;
    	line-height: 1;
    	text-decoration: none;
    	border-radius: 2px;
    }
    .page-numbers.current {
        background-color: $brand-primary;
    }
    a.page-numbers:hover {
    	background-color: darken(#eee, 5%);
    }
}
