.about-us {
    p {
        font-family: "Avenir LT Std 45 Book", sans-serif;
    }
    .ensalada {
        float: right;
        margin-left: 10px;
    }
    .ensalada-ifa {
        float: left;
        margin-right: 10px;
    }
    article {
        margin-bottom: 70px;
    }
}
