.front-page {
    .menu-navigation {
        margin-bottom: 20px;
    }
    .menu {
        padding-top: 10px;
        padding-bottom: 60px;
        background-image: radial-gradient(circle at 50% 50%, #C72B31, #64181E);
        h1 {
            color: white;
            margin-bottom: 20px;
        }
    }
    #js-mix-container .mix{
        display: none;
    }
}

.blog-front {
    margin-bottom: 50px;
    .blog-title {
        padding: 0 16px;
        width: 100px;
        border-right: 1px solid black;
        color: white;
        transform-origin: bottom left;
        @include linear-gradient(to left, $nav-bg, $nav-bg-to);
        a {
            color: white;
        }
    }
    .post {
        .post-title {
            line-height: 10px;
            a {
                color: white;
            }
        }
        .post-separator {
            margin: 0 0 7px 0;
            width: 120px;
            border-top: 4px solid #eee;
        }
        .post-image {
            border: 4px solid white;
            margin-top: 4px;
        }
        .post-content {
            color: white;
            font-size: 13pt;
        }
        .post-read-more {
            float: right;
        }
    }
}

.page-content {
    padding-top: 10px;
    padding-bottom: 50px;
}

.page-faq {
    .panel-group {
        color: #333;
    }
    // .panel-title {
    //     font-family: "bebas-neue", sans-serif;
    //     font-size: 18px;
    // }
    .panel-heading {
        background-color: darken(#ddd, 1%);
    }
    .panel-body {
        background-color: lighten(#ddd, 5%);;
    }
}
